<div class="bait-grid">
    <!-- <div #cw class="bait-container" 
        *ngFor="let bait of baits; let i = index" 
        (touchstart)="isScrolling=false"
        (touchmove)="onTouchMove()" 
        (touchend)="onTouchEnd()" 
        (swipe)="onSwipe(i)" [id]="'spring-bait-'+i"> -->
    <div #cw class="bait-container" 
        *ngFor="let bait of baits; let i = index" 
        (swipe)="onSwipe(i)" [id]="'spring-bait-'+i">
        <div *ngIf="bait.isVisible">
            <mat-card class="bait-card">
                <mat-card-header>
                    <mat-card-title>{{bait.label}}</mat-card-title>
                </mat-card-header>
                <img class="bait-card-img" src="{{bait.imgUrlMd}}" alt="{{bait.imgAlt}}">
            </mat-card>
        </div>
        <div *ngIf="!bait.isVisible">
            <mat-card>
                <mat-card-header>
                    <mat-card-title>{{bait.label}}</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <p><strong>Situation:</strong> {{ bait.situation }} <br><br>
                        <strong>Conditions:</strong> {{ bait.conditions }}
                    </p>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</div>