/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
//////////////////////////////////////////////////
.page-container {
    background-color: #f8f9fa;
    padding: 10px;
    width: 90%;
    min-width: 378px;
}

.parent-container,
.d-flex {
    display: flex;
}

.child-centered,
.m-auto {
    /* Magic! */
    margin: auto;   
    max-width: 430px;
    min-width: 220px;
}

div#topdiv, div#bottomdiv{
    position:fixed; 
    left: 0px;
    width: 100%;
    color: #CCC;        
}

div#topdiv{top:0px;}
div#bottomdiv {bottom:0px;}
