<div class="tp-wrapper">
    <div class="card-wrapper" [@flipState]="flip">

        <div class="tp-box__side tp-box__front">
            <mat-card class="bait-card mat-primary">
                <mat-card-header>
                    <mat-card-title><strong>{{bait.label}}</strong><sub><br>({{bait.colour}})</sub></mat-card-title>
                    <mat-card-actions>
                        <button mat-button (click)="toggleFlip()" (swipe)="toggleFlip()">
                            <span class="material-symbols-outlined">
                                <mat-icon>Info</mat-icon>
                            </span>
                        </button>
                    </mat-card-actions>
                </mat-card-header>
                <img class="bait-card-img__front" src="{{bait.imgUrlMd}}" alt="{{bait.imgAlt}}">
                <div class="bait-card-affiliate-link-wrap">
                    <p>Shop: {{bait.linkLabel}}</p>
                    <a mat-raised-button href="{{bait.affiliateLink}}" target="_blank">
                        Visit Site
                    </a>
                </div>
            </mat-card>
        </div><!--/front of card-->
        <div class="tp-box__side tp-box__back">
            <mat-card class="bait-card bait-card__back">
                <mat-card-header>
                    <mat-card-title><strong>{{bait.make}}</strong><sub><br>({{bait.colour}})</sub></mat-card-title>
                    <mat-card-actions>
                        <button mat-button (click)="toggleFlip()" (swipe)="toggleFlip()">
                            <span class="material-symbols-outlined">
                                swap_horiz
                            </span>
                        </button>
                    </mat-card-actions>
                </mat-card-header>
                <img matCardAvatar class="bait-card-img__back" src="{{bait.imgUrlMd}}" alt="{{bait.imgAlt}}">
                <mat-card-content>
                    <p><strong>Situation:</strong> {{ bait.situation }} <br><br>
                        <strong>Conditions:</strong> {{ bait.conditions }}<br><br>
                        <strong>Notes:</strong> {{ bait.notes }}
                    </p>
                </mat-card-content>
            </mat-card>
        </div><!--/back of card-->
        
    </div>
</div>