mat-card {
  min-width: 100%;
}

mat-card-header {
  display: flex;
  justify-content: space-between;
}

mat-card-actions {
  margin-left: auto;
}


.bait-card {
  // background-color: mat-color($my-primary, 500);
  background-color: #cfd8dc;
  border: 1px solid black;
  min-height: 450px;
  width: 100%;
}

.bait-card-img__front {
  max-height: 400px;
  max-width: 100%;
  height: auto;
  object-fit: cover;
  margin: 10px 5px 5px 5px;
  border: 3px solid black;
  border-radius: 5px;
  text-align: center;
}

.bait-card-img__back {
  margin: 0px 5px 5px 5px;
  border: 1px solid black;
  border-radius: 5px;
}

.tp-wrapper {
  min-height: 400px;
  padding: 5px 15px;
}

.tp-wrapper {
  -webkit-perspective: 1000px;
  perspective: 1000px;

  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;

  margin-bottom: 20px;
  padding-bottom: 80px;
}

.card-wrapper {
  width: 100%;
  position: relative;

  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transform: transform 1s;
  -ms-transform: transform 1s;
  transform: transform 1s;
}

.tp-box__side {
  min-width: 100%;
  min-height: 400px;

  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.tp-box__front {
  
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform: rotateY(0deg);
  -ms-transform: rotateY(0deg);
  transform: rotateY(0deg);
}

.tp-box__back {
  -webkit-transform: rotateY(-180deg);
  -ms-transform: rotateY(-180deg);
  transform: rotateY(-180deg);
}


.bait-card-affiliate-link-wrap {
  width: 100%;
  display: block;
  margin: 0 auto;
  text-align: center;
  padding-top: 25px;
  padding-bottom: 15px;
  //make the element "sticky" to the bottom of the card
  position: absolute;
  bottom: 0;
}
