<div class="parent-container">
  <div class="child-container">
    
    <home-content *ngIf="season === 'home'">
      <router-outlet></router-outlet>
    </home-content>

    <spring-content *ngIf="season === 'spring'">
      <router-outlet></router-outlet>
    </spring-content>

    <summer-content *ngIf="season === 'summer'">
      <router-outlet></router-outlet>
    </summer-content>

    <fall-content *ngIf="season === 'fall'">
      <router-outlet></router-outlet>
    </fall-content>
    

      <div class="tabs-wrapper">
        <mat-tab-group
        [selectedIndex]="activeTabIndex"
        (selectedTabChange)="changeSeason($event)">
          <mat-tab label="Home">
            <!-- <home-content></home-content> -->
          </mat-tab>
          <mat-tab label="Spring">
            <!-- <spring-content></spring-content> -->
          </mat-tab>
          <mat-tab label="Summer">
            <!-- <summer-content></summer-content> -->
          </mat-tab>
          <mat-tab label="Fall">
            <!-- <fall-content></fall-content> -->
          </mat-tab>
        </mat-tab-group>
      </div>
    
  </div>
</div>