<div class="parent-container">
  <div class="child-container">
    <router-outlet>
      <mat-tab-group 
      [selectedIndex]="activeTabIndex"
      (selectedTabChange)="changeSeason($event)">
        <mat-tab label="Home">
          <home-content></home-content>
        </mat-tab>
        <mat-tab label="Spring">
          <spring-content></spring-content>
        </mat-tab>
        <mat-tab label="Summer">
          <summer-content></summer-content>
        </mat-tab>
        <mat-tab label="Fall">
          <fall-content></fall-content>
        </mat-tab>
      </mat-tab-group>
    </router-outlet>
  </div>
</div>