<span class="black-boarder-faceplate" data-z-index="5">
    <div class="landing-header">
        <h1>TL;DR NY <span class="bass-text">Bass</span> fishing baits.</h1>
        <h2>These. Just. WORK<span class="work-period">.</span></h2>
    </div>
    <div class="landing-block">
        <p class="talk-text">
            "I'd like to share what is currently working for me (as a successful tournament angler).
            I am only listing baits that have put fish in my livewell on tournament day.
            <br>
            This is as much of a journal for me to look back on as it is
            (hopefully) helpful for you too!
        </p>
        <p class="talk-text"> DISCLAIMER:
            Some affiliate marketing links ahead. All products here are
            ones I genuinely believe in! If you're looking to try a product,
            please order from the link(s) provided.🙏<br>
            These links are of NO EXTRA COST to you, and are a great way to
            show support!
        </p>
        <p class="talk-text"> Thank you and tight lines" 🎣</p>
        <br>
        <p class="quote-text">- Jason</p>
    </div>

    <div class="insta-wrapper">
        <a id="insta-button" mat-flat-button href="https://www.instagram.com/kondition1" target="_blank">
            <i class="fab fa-instagram fa-3x"></i>
        </a>
        <p class="talk-text">Connect with me on Instagram</p>
    </div>

    <div class="info-talk-text-wrapper">
        <p class="info-talk-text">*Swipe right or tap the
            <span class="material-symbols-outlined">
                <mat-icon>Info</mat-icon>
            </span> for a slightly deeper dive.
        </p>
    </div>
</span>
<!-- ======================================================================================= -->
<!-- ======================================================================================= -->
<div class="hot-week">
    <div class="hot-week-heading">
        <h2>What's <span class="hot-text">hot</span> this week:</h2>
        <p class="talk-text">
            ...nothing for me, because I code over winter and skip the hard water!
            But here is what was working the 2nd
            week of December (2022):
        </p>
    </div>
    <div class="bait-grid">
        <div class="bait-container" *ngFor="let bait of hotBaits; let i = index">
            <bait-card [bait]="bait"></bait-card>
        </div>
    </div>
</div>
<br>
<!-- ======================================================================================= -->
<div class="hot-week-heading">
    <h2>&emsp;...(almost) anytime:</h2>
</div>
<div class="bait-grid">
    <div class="bait-container" *ngFor="let bait of allSeasonBaits; let i = index">
        <bait-card [bait]="bait"></bait-card>
    </div>
</div>


<div class="content-footer"></div>